* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-texting: "Palanquin", sans-serif;
  --ff-heading: "Staatliches", cursive;
  --ff-texting-big: "Roboto", sans-serif;
  --ff-footer: "Open sans", sans-serif;

  --bg-primary: hsl(233, 100%, 97%);
  --bg-header: hsl(218, 17%, 62%);
  --bg-header-secondary: hsl(275, 18%, 79%);
 
  --fc-primary: hsl(0, 0%, 100%);
  --fc-primary-dark: hsl(232, 17%, 35%);
  --fc-secondary: hsl(274, 84%, 12%);
  
  --fs-body: 2rem;
  --fs-header: clamp(4rem, 1rem + 1vw, 5.2rem);
  --fs-text: clamp(1.6rem, 1rem + 1vw, 2rem);

  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;

  font-family: var(--ff-heading);
  font-size: var(--fs-body);
  background-color: var(--bg-primary);
}

.page {
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  background-color: var(--bg-header);
  padding: 3.2rem 0 2.9rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

header img {
  height: 13.7rem;
  animation: topdown 700ms 350ms backwards;
}

header h1 {
  background-color: var(--bg-header-secondary);
  color: var(--fc-primary);
  font-weight: 400;
  font-size: var(--fs-header);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  margin-top: 3.2rem;
  padding: 0.8rem 0;

  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

header p {

  font-family: 'Palanquin', 'sans-serif';
  font-weight: 400;
  font-size: var(--fs-text);
  line-height: 2rem;
  color: var(--fc-secondary);
  
  height: 10rem;
  overflow: hidden;

  text-align: center;

  padding: 0 3.2rem;
}

main {
  min-width: 32rem;
  padding: 0 4rem;
  margin: 4.4rem auto 6rem;
}

.cards {
  display: grid;
  gap: 3.2rem;
}

.card {
  position: relative;
}

.card:nth-child(3),
.card:nth-child(6) {
  display: none;
}

.card img {
  width: 100%;
  height: auto;
  
  transition: transform 200ms;
  animation: downtop 700ms 350ms backwards;
}

.card img:hover{
  transform: scale(1.1);
}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  font-weight: 400;
  font-size: var(--fs-text);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--fc-primary-dark);

  background: #FEEAFA;
  border-radius: 20px;
  padding: 0 2.4rem;

  animation: topdown 700ms 750ms backwards;
}

footer {
  color: var(--fc-secondary);
  display: none;
  font-weight: 400;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DESKTOP!!! */

@media (min-width: 700px) {
  .page {
    margin: 0;
    display: grid;

    grid-template-columns: 30vw 66vw;
    grid-template-areas:
      "H M "
      "H F ";
  }

  header {
    width: 100%;
    height: 100%;

    background-color: var(--bg-header);
    grid-area: H;
  }

  header h1 {
    height: 7rem;
  }

  header p {
    color: var(--fc-primary);


    height: 30vh;
  }

  main {
    position: relative;
    width: auto;
  }

  footer {
    display: block;
    grid-area: F;
    margin: 0 auto;

    font-family: var(--ff-footer);
    font-size: 1.4rem;
  }

  footer a {
    color: var(--fc-secondary);
  }

  .cards {
    grid-template-areas: 
    "C1 C6"
    "C3 C6"
    "C3 C4";
    gap: 3.2rem;

    padding: 0;
  }

  .card {
    position: relative;
  }

  .card h2 {
    display: none;
  }

  .card:nth-child(1) {
    grid-area: C1;
  }

  .card:nth-child(2) {
    grid-area: C3;
  }

  .card:nth-child(4) {
    grid-area: C4;
  }

  .card:nth-child(5) {
    grid-area: C6;
  }
}

/* DESKTOP MAX */

@media (min-width: 1024px) {
  .page {
    margin: 0;
    display: grid;

    grid-template-columns: 30vw 66vw;
    grid-template-areas:
      "H M "
      "H F ";
  }

  header {
    width: 100%;
    height: 100%;

    background-color: var(--bg-header);
    grid-area: H;
  }

  .header {
    margin: 0;
  }

  header h1 {
    height: 7rem;
  }

  header p {
    color: var(--fc-primary);
    height: auto;
  }

  main {
    position: relative;
    width: auto;
  }

  footer {
    display: block;
    grid-area: F;
    margin: 0 auto;

    font-family: var(--ff-footer);
    font-size: 1.4rem;
  }

  footer a {
    color: var(--fc-secondary);
  }

  .cards {
    grid-template-areas: 
    "C1 C3 C5"
    "C2 C3 C6"
    "C2 C4 C6";
    gap: 3.2rem;
  
    padding: 1.4rem 0.4rem 0 8.4rem;;
  }
  
  .card {
    position: relative;
  }
  
  .card h2 {
    display: none;
  }
  
  .card:nth-child(1) {
    grid-area: C1;
  }
  
  .card:nth-child(6) {
    display: block;
    grid-area: C2;
  }

  .card:nth-child(2) {
    grid-area: C3;
  }
  
  .card:nth-child(4) {
    grid-area: C4;
  }

  .card:nth-child(3) {
    display: block;
    grid-area: C5;
  }
  
  .card:nth-child(5) {
    grid-area: C6;
  }
}